<head>
  <link rel="stylesheet" type="text/css" href="login.component.css">
  <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>
<div class="main-container">
  <div class="main">
    <input type="checkbox" id="chk" aria-hidden="true">

    <div class="form-login">

      <form>
        <label for="chk" aria-hidden="true">Entrar</label>
        <input class ="form-control" type="email" name="email" placeholder="E-mail" required="">
        <input class ="form-control" type="password" name="senha" placeholder="Senha" required="">
        <button>Entrar</button>
      </form>
    </div>

    <div class="form-cadastrar">
      <form>
        <label for="chk" aria-hidden="true">Cadastrar</label>
        <input class ="form-control" type="text" name="nome" placeholder="Nome" required="">
        <input class ="form-control" type="text" name="txt" placeholder="Usuário" required="">
        <input class ="form-control" type="text" name="foto" placeholder="Link da sua Foto" required="">
        <input class ="form-control" type="email" name="email" placeholder="E-mail" required="">
        <input class ="form-control" type="password" name="senha" placeholder="Senha" required="">
        <input class ="form-control" type="password" name="confirmSenha" placeholder="Confirmar Senha" required="">
        <select class="form-control" name="tipo" id="tipo" >
        <option>Selecione um tipo de Usuário:</option>
        <option value="normal">Usuário Comum</option>
        <option value="Admin">Administrador</option>
      </select>
        <button>Cadastrar</button>
      </form>
    </div>
  </div>
</div>
