<head>
  <link rel="stylesheet" type="text/css" href="login.component.css">
  <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>
<div class="main-container">
  <div class="main">
    <input type="checkbox" id="chk" aria-hidden="true">

    <div class="form-login">

      <form>
        <label for="chk" aria-hidden="true">Entrar</label>
        <input type="email" name="email" placeholder="E-mail" required="">
        <input type="password" name="pswd" placeholder="Senha" required="">
        <button>Entrar</button>
      </form>
    </div>

    <div class="form-cadastrar">
      <form>
        <label for="chk" aria-hidden="true">Cadastrar</label>
        <input type="text" name="txt" placeholder="Usuário" required="">
        <input type="email" name="email" placeholder="E-mail" required="">
        <input type="password" name="pswd" placeholder="Senha" required="">
        <button>Cadastrar</button>
      </form>
    </div>
  </div>
</div>
